
$minPageWidth: 320px !default;
$maxWidth: 960px !default;
$marginWidth: 20px !default;
$columns: 12 !default;
$gutterWidth: 20px !default;
$columnWidth: floor(($maxWidth - ($columns - 1) * $gutterWidth - $marginWidth * 2) / $columns);
$pageWidth: ($columns - 1) * $gutterWidth + $columns * $columnWidth + $marginWidth * 2;


// Grid context
.grid {
  min-width: $minPageWidth;

  // Clearing Context
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Columns
@include mixCreateColumns(12); // mixin

[class*='col-'] {
  float: left;
  padding-right: $gutterWidth;

  &:last-of-type {
    padding-right: 0;
  }
}

// Gutters
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

//Outside Gutters
.grid-pad {
  padding-left: $marginWidth;
  margin: 0 auto;
  max-width: $maxWidth;

  & > [class*='col-']:last-of-type {
    padding-right: $marginWidth;
  }
}

.module {
  width: 100%;
}
